@charset "UTF-8";
/* CSS Document Baseline*/

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	color:#444444;
	line-height:18px !important;
	padding:0;
	margin:0;
	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

a
{
  outline: none;
}

.focus {
	outline: 0;
}


body a:link, 
body a:visited {
	color:#f26526;
	text-decoration:none;
}

body a:hover {
	text-decoration:underline;
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

#home-container {
	width:1160px;
	margin: 0 auto;
	position:relative;
	max-width: 100%;
	/*border:1px solid #808285;*/

}

.navbar-default .navbar-nav > li > a {
	color: #fff !important;
	background-color: #00AEEF;
	font-size: 18px;
	text-transform: uppercase;
}

.clear {
	clear:both;
}

.thumbnail-bar {
	z-index:50; 
	max-width: 100%; 
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.textleft, .textright {
	cursor:pointer;
	color:#f26526;
	background:none;
}

.textright {
	margin-left: 770px;
}

.textleft {
	animation: myfirst 8s;
	-moz-animation:myfirst 8s; /* Firefox */
	-webkit-animation:myfirst 8s; /* Safari and Chrome */
	-o-animation:myfirst 8s; /* Opera */
}

.title {
	padding:30px 25px 25px 25px;
	
}

.title a {
	text-decoration: none !important;
}

.title .design {
	font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	font-size: 3.7rem;
	color: #d4d4d4;
}

.title .sustainable {
	font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	font-size: 3.7rem;
	color: #666666;
}


/*THUMBNAIL SLIDES_______________________________________________________________________________ */

div.scrollable {
	position:relative;	 	
	width: 960px;	
	height:580px;
	margin:0 auto;
	/* custom decorations */
	padding:7px 0;	
}

.slick-prev {

left: -6%;

	animation: myfirst 8s;
	-moz-animation:myfirst 8s; /* Firefox */
	-webkit-animation:myfirst 8s; /* Safari and Chrome */
	-o-animation:myfirst 8s; /* Opera */
}
@keyframes myfirst
{
0%   {opacity:0;}
25%  {opacity:0;}
50%  {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {opacity:0;}
25%  {opacity:0;}
50%  {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {opacity:0;}
25%  {opacity:0;}
50%  {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes myfirst /* Opera */
{
0%   {opacity:0;}
25%  {opacity:0;}
50%  {opacity:0;}
100% {opacity:1;}
}

li.bigleft {
	margin-left:15px;
}

/* next button uses another background image */
/*Remove display none when adding more nav items to show navigation */
.slick-next {
	background:url(../images/LargeSlideRIGHT.png) no-repeat !important;
	clear:right;
	margin-left:10px;
	right: -10%;
}

.slick-prev, .slick-next { 
    display:block;
	width:75px;
	height:536px; 
	background: url(../images/LargeSlideLEFT.png) no-repeat;
	margin:5px 0 0 0;
	float:left;
	transition:.6s linear;
  /* We need to help some browsers along for this to work */
  -moz-transition:.6s linear;
  -webkit-transition:.6s linear;
	cursor:pointer;
	top: 35%;
}

.slick-slide {
	outline: none;
}

.main-container {
	margin: 0 0 0 100px !important;
}

.main-container-education {
	margin: 0 0 50px 100px;
}

.navbar-default {
	background:#00AEEF;
	margin:0 0 0 100px;
	padding:0;
	height:100px;
	width:960px;
	max-width: 100%;
	border-radius: 0px;
	border: none;
}

#nav-container {
background:none;
width: 720px;
padding:40px 0 0 25px;
float:left;
max-width: 100%;
}

ul.cases-body ul.dropdown-menu {
	padding: 0;
	text-decoration: none;
	background: none;
	width: 190px;
	margin: 0 25px 0 0;
}

#nav-container ul.dropdown-menu {
	padding:5px 20px 15px 15px;
	margin:0 15px 0 10px;
	position:absolute;
	background: #00Aeef;
	border:none;
	list-style:none;
	z-index:100;
	border-radius: 0px;
	width: 190px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: #00AEEF;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    margin-bottom: 6px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu,
.dropdown-submenu:focus>.dropdown-menu {
    display: block;
}

.dropdown-submenu .open:hover > .dropdown-menu,
.dropdown-submenu .open:focus > .dropdown-menu {
	display: block;
}

.dropdown-menu > li > a {
	color: #fff;
	font-weight: 600;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	text-decoration: underline;
	color: #fff;

}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff;
    margin-top: 5px;
    margin-right: 15px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    margin-bottom: 10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #00AEEF;
	text-decoration: underline;
}

.dropdown-menu > li > a {
	padding: 5px 0;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #00AEEF;
}

.dropdown-submenu .dropdown-menu {
	top:0;
	left:95%;
	margin-top:-6px;
	border-top-left-radius:0
	}

.dropup .dropdown-submenu .dropdown-menu,.navbar-fixed-bottom .dropdown-submenu .dropdown-menu {
	top:auto;
	bottom:0;
	margin-top:0;
	margin-bottom:-6px;
	border-top-left-radius:4px;
	border-bottom-left-radius:0;
	}

.dropdown-menu-right .dropdown-submenu .dropdown-menu {
	left:auto;
	right:100%;
	border-top-left-radius:4px;
	border-top-right-radius:0;
	}

.dropup .dropdown-menu-right .dropdown-submenu .dropdown-menu,.navbar-fixed-bottom .dropdown-menu-right .dropdown-submenu .dropdown-menu {
	border-radius:4px 4px 0;
	}

.dropdown-submenu > a:after {
	margin-top:6px;
	border-left:4px dashed;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	}

.dropdown-menu-right .dropdown-submenu > a:after {
	float:left;
	border-left:none;
	margin-left:-10px;
	margin-right:0;
	border-right:4px dashed;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	}

}

#nav-container ul.dropdown-menu a#cases {
list-style:none;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
text-transform:uppercase;
color:#fff;
float:left;
}


#nav-container ul#dropdown li.dropdown a:link#main-nav,
#nav-container ul#dropdown li.dropdown a:visited#main-nav {
	background:url(../images/TopNave-ArrownRight.png) no-repeat left;
	background-position: 0 -3px;
	color:#fff !important;
	text-decoration:none;
	padding: 0 0 0 24px;
	display:block;
	margin-left:30px;
	height:20px;
}


#nav-container ul#dropdown li.dropdown a:hover#main-nav, 
#nav-container ul#dropdown li.dropdown a:active#main-nav{
	
background:url(../images/TopNAV-ArrowDown.png) no-repeat left;
text-decoration:underline;

}

#nav-container ul.dropdown li.dropdown a#main-nav ul.cases-body { 
	display:none; 
	padding:0 0 25px 25px;
	margin:0 0 0 30px;
	position:absolute;
	top:20px;
	background: #00Aeef;
	border:none;
	list-style:none;
	z-index:100;
	
}

.category-cases{
font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	font-weight:normal;
	font-size:14px;
	padding:8px 0 0px 0px;
	text-decoration:none;
	margin:none;
	background:none;
	cursor:pointer;
	margin:0px 0 0 0;
	line-height:16px;
	
}

.category-cases a:link {
	color:#fff;
	background:none;
	padding:0;
	margin:0;
	background-image:none;
}

.category-cases a:link,
.category-cases a:visited {
background:none;
text-decoration:none;
color:#fff;
}

.category-cases a:hover {
background:none;
text-decoration:underline !important;
color:#fff !important;	
}

a.category {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	font-weight:bold;
	color: #fff !important;
	font-size:16px;
	padding:15px 0 0 0;
	margin:0;
}

/*#nav-container ul.dropdown li.cases ul {
	visibility: hidden;
	padding:0 0 25px 25px;
	margin:0;
	position:absolute;
	top:20px;
	background: #00Aeef;
	width:653px;
	border:none;
	z-index:100;
}

#nav-container ul.dropdown li.cases ul li {
	margin:0 15px 0 0;
	text-decoration:none;
	float:left;
	width:145px;
}

#nav-container ul.dropdown li.animation ul {
	visibility: hidden;
	padding:0 0 25px 25px;
	margin:0;
	position:absolute;
	top:20px;
	background: #00Aeef;
	width:467px;
	border:none;
	z-index:100;
}

#nav-container ul.dropdown li.animation ul li {
	margin:0 15px 0 0;
	text-decoration:none;
	float:left;
	width:145px;
}

#nav-container ul.dropdown li.education ul {
	visibility: hidden;
	padding:0 0 25px 25px;
	margin:0;
	position:absolute;
	top:20px;
	background: #00Aeef;
	width:301px;
	border:none;
	z-index:100;
}

#nav-container ul.dropdown li.education ul li {
	margin:0 15px 0 0;
	text-decoration:none;
	float:left;
	width:135px;
}
#nav-container ul.dropdown li ul li p.category {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	font-weight:bold;
	font-size:16px;
	padding:15px 0 0 0;
	margin:0;
}

#nav-container ul.dropdown li ul li a.casestudies {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	font-weight:normal;
	font-size:14px;
	padding:0 0 0 0px;
	text-decoration:none;
	margin:none;
	background:none;
	cursor:pointer;
	margin:8px 0 0 0;
	
	
}
	
#nav-containefr ul.dropdown li ul li a.casestudies:hover {
	text-decoration:underline;
	cursor:pointer;

}
*/


/*Header___________________________________________________________________________________ */

#header {
	width:960px;
	border-bottom:1px solid #999;
	margin:5px 0 0 100px;
	max-width: 100%;
}

#logo {
	margin:18px 0 0 25px;
	float:left;
}

#logo img {
	padding:0;
	border:0;
}



/*Index Thumnails___________________________________________________________________________________ */

div.thumbnails {
width:960px;
margin:0px 0 0 0;
padding:0px;
}

div.thumbnails .thumb {
	display:inline-block;
	overflow:hidden;
	list-style:none;
	width:162px;
	height:162px;
	margin:0px 0px 25px 25px;
	padding:0px;
}

div.thumbnails div.movie {
	display:inline-block;
	overflow:hidden;
	list-style:none;
	width:353px;
	height:162px;
	margin:0px 0px 25px 25px;
	padding:0px;
	background-color:#eee;
}

div.thumbnails li.about {
	display:inline-block;
	overflow:hidden;
	list-style:none;
	width:349px;
	height:162px;
	margin:25px 0px 0px 25px;
	padding:0px;
	background-color:#f26526;
	color:#fff;
}

div.thumbnails li.about a:link,
div.thumbnails li.about a:hover,
div.thumbnails li.about a:visited{
display:block;
width:177px;
height:40px;
background:url(images/home/LearnMoreBTN.png);
padding:0;
margin-left:123px;
}

div.thumbnails .thumb a {
	border:none;
	width:162px;
	height:162px;
	position:relative;
	
}

div.thumbnails li a img {
	position:absolute;
	border:0;
}


* html ul.thumbnails li { display:inline; }  /* for IE 6 */
* + html ul.thumbnails li { display:inline; }  /* for IE 7 */

* html ul.thumbnails li.view { display:inline; }  /* for IE 6 */
* + html ul.thumbnails li.view { display:inline; }  /* for IE 7 */

* html ul.thumbnails li.about { display:inline; }  /* for IE 6 */
* + html ul.thumbnails li.about { display:inline; }  /* for IE 7 */

* html ul.thumbnails li.movie { display:inline; }  /* for IE 6 */
* + html ul.thumbnails li.movie { display:inline; }  /* for IE 7 */


div.thumbnails div.movie a:link,
div.thumbnails div.movie a:hover, 
div.thumbnails div.movie a:visited {
display:block;
width:230px;
height:40px;
background:url(../images/home/Watch_Animations.png) no-repeat;
padding:0;
margin-left:70px;
margin-top: 10px;
}

div.thumbnails .thumb a span {
	display:block;
	width:162px;
	height:162px;
	background-color:#eeeeee;
	position:absolute;
}

div.thumbnails .thumb a span p{
	padding:10px 10px 5px 10px;
	margin:0;
}

div.thumbnails .thumb a span p.index-title-city {
	font-size:12px;	
	line-height:16px;
	padding-top:0;
	color:#eeeeee;
}

div.thumbnails .thumb a, 
div.thumbnails .thumb a:hover span p{
	text-decoration:none;
	color:#00AEEF;
}

div.thumbnails .thumb a span p.title {
	color:#eeeeee;
	font-size:18px;
	line-height:22px;
}

div.thumbnails .thumb a:hover span p.title {
	color:#00AEEF;
}

div.thumbnails .thumb a:hover span p.index-title-city {
	color:#00AEEF;
}


div.thumbnails .thumb a span p {
	color:#666;
}


.thumbnails-view {
	background: url(../images/View_Index_NoArrow.jpg) top;
}

div.thumbnails li.view {
width:162px;
height:162px;
background:url(../images/View_Index_NoArrow.jpg) top;
position:relative;
}

div.thumbnails li.view span {
padding:75px 10px 5px 2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
line-height:15px;
position:absolute;
color:#666;
line-height:16px;
}



.thumbnails-grey {
	background-color:#eeeeee;
}

#disqus_thread {
	margin: 0 25px 25px 0;
	width: 723px;
	position: relative;
	top: -380px
}

/*Index-Footer___________________________________________________________________________________ */

#footer {
	width:960px;
	margin:0px auto;
	padding:0;
	height:162px;
	background:#eee;
	position: relative;
	
}

#footer .date {
	float:left;
	padding: 0;
	margin:25px 0 80px 25px;
	width:162px;
	font-size:10px;
	line-height:15px;
	
}

#footer .copy {
	padding: 25px 0 0 0;
	margin:0px 0 25px 25px;
	width:250px;
	font-size:10px;
	line-height:15px;
	float:left;
}

#footer .nea {
	padding: 25px 25px 0 0;
	margin:0px 0 80px 25px;
	width:275px;
	font-size:10px;
	line-height:15px;
	float:right;
}

#footer-sec {
	width:960px;
	margin:25px auto;
	padding:0;
	height:162px;
	background:#eee;
	
}

#footer-sec .date {
	float:left;
	padding: 0;
	margin:25px 0 80px 25px;
	width:162px;
	font-size:10px;
	line-height:15px;
	
}

#footer-sec .copy {
	padding: 25px 0 0 0;
	margin:0px 0 25px 25px;
	width:162px;
	font-size:10px;
	line-height:15px;
	float:left;
}

#footer-sec .nea {
	padding: 25px 25px 0 0;
	margin:0px 0 80px 25px;
	width:275px;
	font-size:10px;
	line-height:15px;
	float:right;
}





/*Video Index_______________________________________________________________________________________*/

* html ul.video li { display:inline; }  /* for IE 6 */
* + html ul.video li { display:inline; }  /* for IE 7 */

ul.video {
max-width:100%;
margin:0px;
padding:0px;
}

ul.video li {
	display:inline-block;
	overflow:hidden;
	list-style:none;
	width:443px;
	height:162px;
	margin:25px 0px 0px 25px;
	padding:0px;
	
}

ul.video li div {
	width:443;
	height:162px;
}

ul.video li .vid-thumbnail {
	width:162px;
	height:162px;
	float:left;
	margin:0 25px 0 0;
}

ul.video li .vid-thumnail-desc {
	width:256px;
	height:162px;
	float:left;
}

ul.video li .vid-thumnail-desc p.title{
font-family:Arial, Helvetica, sans-serif;
font-size:17px;
padding:0;
margin:0;
line-height:22px;

}



/*Secondary Pages___________________________________________________________________________________ */

h1 {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	color:#00AEEF;
	font-size:28px;
	padding:0 0 10px 0;
	font-weight:normal;	
}

.secondary-title-city {
	font-size:18px;
	color:#00AEEF;
	
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#aaaaaa;
	color:#fff;
	text-transform:uppercase;
	font-size:14px !important;
	margin:0 0 10px 0px;
	padding:5px 0 5px 25px;
	font-weight:normal;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#aaaaaa;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	margin:25px 0 10px 0px;
	padding:5px 0 5px 25px;
	font-weight:normal;
}

#left-col {
	width:187px;
	background-color:#fff;
	margin:25px 0 0 0;
	padding:0;
	float:left;
}

#left-col ul {
	padding:0 0 10px 25px;
	margin:0;
}

#left-col ul li{
	list-style-type:none;
	padding:0 0 7px 10px;
	margin-right:7px;
	background:url(../images/bullet.png) left top no-repeat;
	font-size: 13px;
	line-height: 20px;
}



#left-col ul.links {
	padding:0 0 10px 25px;
	margin:0;
}

#left-col ul.links li{
	list-style-type:none;
	padding:0 0 7px 0px;
	margin-right:7px;
	background:none;
}

#left-col .related {
	width:187px;
	background: url(../images/Related_BKGD.png) bottom repeat-x #f16527;
	padding:0;
	margin:0;
}

#left-col .related h1 {
 padding:0px 0px 5px 0px;
 margin:0 15px 0 25px;
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 font-weight:normal;
 color:#fff;
 text-transform:uppercase;
 border-bottom:#fff solid 1px;
 
}

#left-col .related p {
	padding:0 0 25px 0px;
	margin:0 0 0 25px;
}

#left-col .related  a:link,
#left-col .related  a:visited {
	color:#fff;
	text-decoration:none;
}

#left-col .related  a:hover{
	color:#fff;
	text-decoration:underline;
}

#left-col ul.related-box {
	padding:0 15px 15px 25px;
	margin:10px 0 0 0;
}

#left-col ul.related-box li{
	list-style-type:none;
	padding:0 0 7px 0px;
	margin-right:7px;
	background:none;
	color: #fff;
}


#left-col .ed-button {
	padding:0 0 25px 0px;
	margin:0;
	border:0;
}





#left-col .sources {
	font-style:italic;
}

#left-col p {
	margin-left:25px;
	margin-right:10px;
}

#left-col img {
	margin-left:25px;
	margin-bottom:20px;
	border:none;
}

#right-col {
	width:723px;
	margin:25px 25px 0 0;
	padding:0;
	float:left;
}

#right-col h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#f26526;
	font-size:20px;
	background-color:#fff;
	padding:0;
	margin:0;
	text-transform:none;
	line-height:21px;
}

#right-col h2 .ref {
font-size:16px;
font-style:italic;
}

#right-col .ed-section {
margin:25px 0px 0 0;
padding: 0 0 25px 0;
border-bottom:solid 1px #cccccc;
width: 100%;
}

#right-col .ed-section p {
padding:10px 0 0 0;
margin:0;

}

#right-col #facts {
	
	margin:0 0 25px 0;
	background-color:#eeeeee;
}

#right-col .ideas {
	width: 100%;
	margin:25px 0 25px 0px;
	background-color:#eeeeee;

}

#right-col ul.facts {
	padding:0 0 10px 0;
	margin:0;
	color:#555;
}

#right-col ul.facts li{
	list-style-type:none;
	padding:0 0 7px 10px;
	margin-right:7px;
	background:url(../images/bullet.png) left top no-repeat;
}


#right-col #facts .col1 {
	padding:0 0 25px 25px;
	margin:0;
	float:left;
	width:321px;
}

#right-col .ideas .col1 {
	padding:0 0 25px 25px;
	margin:0;
	float:left;
	width:321px;
}

#right-col .ideas .col1 p,
#right-col .ideas .col2 p{
	padding:0 0 15px 0; margin:0;
}



#right-col #facts .col2 {
	padding:0 25px 0 25px;
	margin:0;
	float:left;
	width:321px;
}

#right-col .ideas .col2 {
	padding:0 25px 0 25px;
	margin:0;
	float:left;
	width:321px;
}

#right-col #facts p.header {
	padding:25px 25px 15px 25px;
	margin:0;
	font-size:18px;
	color:#00AEEF;
}

#right-col .ideas p.header {
	padding:25px 25px 15px 25px;
	margin:0;
	font-size:18px;
	color:#00AEEF;
}

#right-col .desc {
	width:550px;
	font-size:14px;
	line-height:18px;
}

#right-col .animation-callout {
	
	overflow:hidden;
	width:349px;
	height:162px;
	margin:25px 0px 0px 0px;
	padding:0px;
	background-color:#eee;	
}

#right-col .animation-callout a:link,
#right-col .animation-callout a:hover,
#right-col .animation-callout a:visited{
display:block;
width:120px;
height:40px;
background:url(../images/home/WatchBTN.png);
padding:0;
margin-left:180px;	
}

/*Video Embed__________________________________________________________________________________*/
#video{ width: 100%;
height: 100%;
margin:15px 0 10px 0px;
border:solid #cccccc 1px;
}

.expansion {
padding:0px 0 25px 0;
font-size:10px;
}

.explanation {
	max-width: 100%;
	margin-left: 25px;
	margin-right: 25px;
}

.note {
	max-width: 100%;
	margin-left: 25px;
	margin-right: 25px;
}

/*Slide Show___________________________________________________________________________________ */
		
.carousel {
	border:solid #cccccc 1px;
	margin-top: 15px;
	margin-bottom: 25px;
}		

.carousel-control {
	z-index: 2;
	background: transparent;
	height: 200px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	width: 43px;
	height: 43px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	top: 90%;
}

.carousel-control.left {
	color: transparent;
	background-image: none;
}

.carousel-control .glyphicon-chevron-left:hover {
	background:url(../images/slidetest/new/Slideshow-Left.png) no-repeat 25px 160px;
}

.carousel-control.right {
	color: transparent;
	background-image: none;
}

.carousel-control .glyphicon-chevron-right:hover {
	background:url(../images/slidetest/new/Slideshow-Right.png) no-repeat 300px 160px;
}
	
#prevBtn, #nextBtn{ 
	display:block;
	width:361px;
	height:250px;
	position:absolute;
	top:0px;
	/*left:-30px;
	top:125px;*/
	}	

#nextBtn{ 
	left:362px;
	}
	
#prevBtn{ 
	}
	
#prevBtn a, #nextBtn a{  
	display:block;
	width:361px;
	height:250px;
	background:url(images/slidetest/new/Slideshow-LeftRollover.png) no-repeat 25px 160px;	
	}	
#nextBtn a{ 
	background:url(images/slidetest/new/Slideshow-RightRollover.png) no-repeat 300px 160px;	
	}
	
#prevBtn a:hover{ 
	background:url(images/slidetest/new/Slideshow-Left.png) no-repeat 25px 160px;	
	}	

#nextBtn a:hover{ 
	background:url(images/slidetest/new/Slideshow-Right.png) no-repeat 300px 160px;	
	}	
	
#slider-title {
	position:absolute;
	top:405px;
	background-color:#00AEEF;
	width:723px;
}
#slider-title p {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:14px;
	padding:5px 0 5px 15px;
	margin:0;
	color:#FFF;
}

#slider-title .city {
	font-size:10px;	
}

.carousel-inner {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

.carousel-inner .item a.down {
	background-position: left top;
	background: url(../images/hide.png) no-repeat center;
	height: 19px; 
	width: 80px;
	text-indent: -99999px;
	top: -19px; 
	position:absolute;
	z-index: 11;
	
}

.carousel-inner .item a.show {
	background-position: left bottom; 
	z-index: 11;  
	background:url(../images/show.png) no-repeat center;
} 

.carousel-inner .item .desc {
	position: absolute;
	bottom: 0;	
	left: 0;
	width: 100% !important;
	display: none;
	z-index: 11;
}

.carousel-inner .item .carousel-caption {
	width: 100%;
	background: #111;
	border-top: 1px solid #000;
	padding:20px 0px 25px 15px;
	color:#FFF;
	font-style:normal;
	font-size:13px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	
}

.carousel-caption {
	width: 100%;
	background: #111;
	border-top: 1px solid #000;
	padding:15px 0px 15px 15px;
	color:#FFF;
	right: 0;
	left: 0;
	bottom: 0;
	font-style:normal;
	font-size:12px;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
}

.carousel-inner .item .carousel-caption p.captions {
	font-size:10px;
	font-style:italic;
	line-height:15px;
	padding:10px 0 0 0;
	float:left;
}

.carousel-inner .item .carousel-caption p.count {
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	text-align:right;
	padding:10px 15px 0 0;
}

.carousel-inner .item .carousel-caption p {
	padding:0 15px 0 0;
	margin:0 15px 0 0;
	text-align: left;
}

/*COMMENTS------------------------------------------------------------------*/
#comments {
	position:relative;
	background-color:#FFF;
	margin-top:25px;
}

#comments .share {
	background:#eeeeee;
	position:absolute;
	z-index:10;
	margin-left:575px;
	margin-top:20px;
}


#comments .share .share-button {
	padding:5px;
	margin:0px;
}


#idc-container-parent {
	font-family:Arial, Helvetica, sans-serif;
	width:718px;
	font-size:11px;

}

#idc-container-parent #idc-container {
	border-bottom:none;	
}

#idc-container-parent #idc-container .idc-head {
	padding:0;
	margin:0;
}

#idc-container-parent #idc-container .idc-thread {
	padding:10px 0 0 0;
	margin:0;
	font-size:11px;
}

#idc-container-parent #idc-container .idc-c-t {
	padding-left:10px;
	font-size:11px;
}

#idc-container-parent #idc-container #IDCThread #IDCommentsNewThread .idc-c-t {
	padding:0;
	font-size:11px;
}

#idc-container-parent #idc-container .idc-c-t-inner {
	font-size:12px;	
}

#idc-container-parent #idc-container.idc-i {
	font-size:11px;
}

#idc-container-parent #idc-container #commentMessage {background:none;
}

#idc-container-parent #idc-container #IDCommentsNoCommentsDiv {
	background:none;
	font-size:11px;
	padding:10px 0 10px 0;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
}

#idc-container-parent #idc-container #IDCommentsNoCommentsDiv p.idc-message {
	font-size:11px;
	padding:0;
	font-style:italic;
}

#idc-container-parent #idc-container .idc-c-b {
	padding-left:10px;
}

#idc-commentcount_label {
color:#00AEEF;
}

#idc-container-parent #idc-container .idc-cover h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#00AEEF;
	text-transform:none;
	font-size:18px;
	margin:0;
	padding:0;
	font-weight:normal;
}

#idc-container-parent #idc-container .idc-new h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-transform:uppercase;
	font-size:14px;
	margin:0;
	padding:5px;
	font-weight:normal;
	background-color:#eee;
}

#idc-container-parent #idc-container .idc-footer {
	display:none;
}

#idc-container-parent #idc-container .idc-c-h {
	background:#fff;
	border-top:1px solid #CCC;
	font-style:italic;
	font-weight:normal;
	font-size:10px;
	width:723px;
}

#idc-container-parent #idc-container .idc-postnav {
	display:none;
}

#idc-container-parent #idc-container .idc-r {
	font-size:11px;
}



#idc-container-parent #idc-container #IDNewThreadSubmitLI {
	margin:10px 0 20px 0;
}

/*Mobile=================================================================*/
@media (max-width:767px) {

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
  	overflow-y: scroll; 
  	position: absolute;
  	top: 0;
  	left: 0;
}

.clearfix {
	background-color: #00AEEF;
}

#home-container {
	max-width: 100%;

}

#header {
	margin-left: 0px;
	min-height: 200px;
}

.thumbnail-bar {
	z-index:50; 
	max-width: 100%; 
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}


.textleft {
	max-width: 100px;
	height: auto;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #ff6c2f;
}

.textright {
	margin-left: 120px;
	max-width: 100px;
	height: auto;
	padding: 5px 15px;
	background-color: #eee;
	border: 1px solid #ff6c2f;
}

#logo {
	margin: 18px 0 0 15px;
}

#nav-container ul.dropdown-menu {
	height: auto;
	padding-left: 0px;
	padding: 0px;
	position: relative;
	width: 210px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 0;
    margin-top: -6px;
    margin-left: -1px;
    margin-bottom: 6px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff;
    margin-top: 5px;
    margin-right: 15px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    margin-bottom: 10px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	text-decoration: underline;
	color: #fff;

}

.category-cases {
	padding-left: 20px;
	margin-right: 20px;
}

#nav-container ul#dropdown li.dropdown a:link#main-nav, #nav-container ul#dropdown li.dropdown a:visited#main-nav {
	margin-left: 20px;
	margin-bottom: 20px;
}

#nav-container {
	width: 100%;
	padding-left: 0px;
}

#nav-container ul.dropdown-menu {
	padding-left: 0px;
	margin-bottom: 10px;
}

.navbar-nav {
	margin: 7.5px 0px 7.5px 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin: 0;
}

.navbar-default {
	margin: 0;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #E1F5FE;
}

.navbar-toggle .icon-bar {
	width: 30px;
	height: 7px;
	border-radius: 0px;
}

.navbar-toggle {
	margin-top: 30px;
	margin-right: 45px;
	border-radius: 0px;
}

.navbar-toggle a {
	color: #fff !important;
	font-size: 1.5em;
	font-weight: 600;
}

.navbar-offcanvas {
	position:fixed;
	height: 100%;
	width:250px;
	left:-250px;
	top:0px;
	z-index:999;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-transition:all 0.15s ease-in;
	-moz-transition:all 0.15s ease-in;
	-o-transition:all 0.15s ease-in;
	transition:all 0.15s ease-in;
	}

.navbar-offcanvas.in { 
	box-shadow:0px 0px 20px black;
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.3);
	}

.navbar-offcanvas.navbar-offcanvas-fade {
	opacity:0;
	}

.navbar-offcanvas.navbar-offcanvas-fade.in {
	opacity:1;
	}

.navbar-offcanvas.offcanvas-transform.in {
	-webkit-transform:translate3d(250px, 0px, 0px);
	-moz-transform:translate3d(250px, 0px, 0px);
	-o-transform:translate3d(250px, 0px, 0px);
	transform:translate3d(250px, 0px, 0px);
	}

.navbar-offcanvas.offcanvas-position.in {
	left:0px;
	}

.navbar-offcanvas.navbar-offcanvas-right {
	left:auto;
	right:-250px;
	}

.navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.in {
	-webkit-transform:translate3d(-250px, 0px, 0px);
	-moz-transform:translate3d(-250px, 0px, 0px);
	-o-transform:translate3d(-250px, 0px, 0px);
	transform:translate3d(-250px, 0px, 0px);
	}

.navbar-offcanvas.navbar-offcanvas-right.offcanvas-position.in {
	left:auto;
	right:0px;
	}

.navbar-offcanvas .dropdown.active .caret {
	border-top:0px;
	border-bottom:4px solid;
	}

.navbar-offcanvas .dropdown-menu {
	position:relative;
	width:100%;
	background:inherit;
	border:inherit;
	box-shadow:none;
	padding:0px;
	overflow:hidden;
	-webkit-transition:all 0.15s ease-in;
	-moz-transition:all 0.15s ease-in;
	-o-transition:all 0.15s ease-in;
	transition:all 0.15s ease-in;
	height:0px;
	}

.navbar-offcanvas #dropdown {
	height:auto;
	}

.navbar-offcanvas #dropdown-menu>li>a {
	color:#777;
	padding:5px 15px 5px 30px;
	}

.offcanvas-toggle { 
	background:#f8f8f8;
	color: #00AEEF;
	margin-left: 28px;
	margin-bottom: 15px;
	}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { 
	background:#f8f8f8;
	color: #00AEEF;
	margin-left: 28px;
	margin-bottom: 15px;
	}

.offcanvas-toggle .icon-bar { 
	background:#000;
	}

.offcanvas-toggle.offcanvas-toggle-close { 
	margin-right:0px;
	}

.offcanvas-toggle.offcanvas-toggle-close .icon-bar:nth-child(1) {
	-webkit-transform:rotate(45deg) translate(5px, 4px);
	-moz-transform:rotate(45deg) translate(5px, 4px);
	-o-transform:rotate(45deg) translate(5px, 4px);
	transform:rotate(45deg) translate(5px, 4px);
	}

.offcanvas-toggle.offcanvas-toggle-close .icon-bar:nth-child(2) {
	opacity:0 !important;
	}

.offcanvas-toggle.offcanvas-toggle-close .icon-bar:nth-child(3) {
	-webkit-transform:rotate(-45deg) translate(4px, -4px);
	-moz-transform:rotate(-45deg) translate(4px, -4px);
	-o-transform:rotate(-45deg) translate(4px, -4px);
	transform:rotate(-45deg) translate(4px, -4px);
}

.title {
	padding:20px 25px 5px 25px;
	
}

.title .design {
	line-height: 1.1em;
}

.title .sustainable {
	line-height: 1.1em;
	float: left;
}

.thumnail-nav-bar {
	width: 100%;
	margin: 15px 0px 0px 0px;
}

.thumbnails .movie div div {
	display: block;
}

div.thumbnails .thumb {
	width: 125px;
	height: 125px;
	margin: 6px;
}

.thumb img {
	width: 125px;
	height: 125px;
}

div.thumbnails .thumb a span {
	display:block;
	width:125px;
	height:125px;
	background-color:#eeeeee;
	position:absolute;
}

div.thumbnails div.movie {
width: 265px;
height: 125px !important;
margin: 6px;
}

.movie img {
	width: 190px;
}

div.thumbnails div.movie a:link, div.thumbnails div.movie a:hover, div.thumbnails div.movie a:visited {
	margin-left: 20px;
	margin-top: 0px;
	background-size: 190px 38px;
}

div.scrollable { 	
	width: 90%;	
	height: auto;
	overflow-y: visible;
	overflow-x: hidden;
	margin: 0 auto;
}

.slick-prev, .slick-next {
	display: none !important;
}

.square {
	display: inline-block;
	margin: 6px;
	width: 125px;
	height: 125px;
	background-color: #eee;
}

#right-col #facts .col1 {
	width: 100%;
	padding-bottom: 0px;
	padding-right: 25px;
}

#right-col #facts .col2 {
	width: 100%;
	padding-right: 25px;
}

#right-col #facts {
	margin-bottom: 0px;
}

#footer {
	margin-bottom: 0px;
	position: relative;
	width: 100%;
	height: auto;
	left: 0;
}

h3 {
	margin-top: 0px;
}

#footer .copy {
	margin-bottom: 0px;
}

#footer .nea {
	float: left;
	padding: 0px;
	margin-top: 25px;
}

#footer .date {
	margin-bottom: 25px;
}

/*Disqus*/
#disqus_thread {
	margin-left: 25px !important;
	margin-right: 25px !important;
}

/*Mobile Secondary Pages___________________________________________________________________________________ */

h1 {
	padding: 5px 25px 5px 25px;
}

h2 {
	padding: 5px 0 5px 30px;
}

div.thumbnails .thumb a span p.title {
	font-size: 12px;
	line-height: 16px;
}

div.thumbnails .thumb a span p.index-title-city {
	font-size: 11px;
	line-height: 15px;
}

.secondary-title-city {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	display: block;
}

.main-container {
	margin: 0 0 0 0px !important;
}

.main-container-education {
	margin: 0 0 50px 0;
}

#left-col {
	width: 100%;
	margin-top: 0px;
	border-bottom: 1px solid #aaa;
}

#left-col ul {
	padding: 0 0 5px 20px;
}

#right-col .ed-section {
margin: 0 auto;
padding: 25px;
border-bottom:solid 1px #cccccc;
width: 100%;
}

.project-type {
	width: 100%;
}

.project-type li {
	display: inline-block;
}

#left-col .related {
	width: 100%;
}

#right-col {
	width: 100%;
	margin-left: 0px;
}

.carousel {
	border:solid #cccccc 1px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.carousel-inner .item .desc {
  position: relative !important;
}

.carousel-inner .item .carousel-caption {
  position: relative !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	top: 10%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	min-width: 100%;
}

.carousel-control {
	z-index: 2;
	background: transparent;
	height: 100px;
	top: 25%;
}
ul.video li {
	height: 220px;
	padding-right: 25px;
}

ul.video li .vid-thumnail-desc {
	width: 40%;
	margin-right: 25px;
}

#left-col .ed-button {
	padding:0 0 25px 25px;
	margin:0;
	border:0;
}

#idc-container-parent {
	width: 100%;
}

#idc-container span {
	margin-left: 25px !important;
}

#comments .share {
	margin-left: 220px !important;
}

#idc-container-parent #idc-container #IDCommentsNoCommentsDiv {
	margin-left: 25px;
}

#idc-container div.idc-text_noresize, #idc-container textarea.idc-text_noresize {
	width: 97%;
	margin: 0 0 4px 4px !important;

}

.idc-columns {
	margin-bottom: 10px !important;
	margin-left: 4px !important;
}

.idc-column {
	float: right !important;
	clear: left !important;
	width: 50%;
	margin-left: 1px !important;
}

#idc-container-parent #idc-container #IDNewThreadSubmitLI {
	margin: 10px 0px 20px 0px;
	margin-right: 3%;
}

#disqus_thread {
	margin: 0 25px 25px 25px;
	width: 86%;
	position: relative;
	top: 0px;
}

}

/*Tweener====================================*/
@media (min-width: 768px) and (max-width: 1068px) {

#home-container {
	min-height: 100%;
}

div.scrollable {
	width: 700px;
	height: 420px;
	padding: 20px 0;
}

.textright {
	margin-left: 700px;
}

div.thumbnails .thumb {
	width: 105px;
	height: 105px;
}

div.thumbnails div.movie {
	width: 238px;
	height: 105px;
}

div.thumbnails div.movie a:link {
	width: 120px;
	height: 25px;
	background-size: 120px 25px;
	margin-left: 80px;
	margin-top: -10px;
}

.thumb img {
	width: 105px;
	height: 105px;
}

div.thumbnails .thumb a span {
	display:block;
	width:105px;
	height:105px;
	background-color:#eeeeee;
	position:absolute;
}

div.thumbnails .thumb a span p.title {
	font-size: 11px;
	line-height: 15px
}

div.thumbnails .thumb a span p.index-title-city {
	font-size: 10px;
	line-height: 14px;
}

.movie img {
	width: 150px;
}

.movie p {
	padding: 10px 10px 0 11px !important;
}

.slick-prev, .slick-next {
	top: 39%;
}

.slick-prev {
	left: -3%;
}

.slick-next {
	background:url(../images/LargeSlideRIGHT.png) no-repeat !important;
	clear:right;
	margin-left:10px;
	right: -8%;
	background-size: 30px 79px !important;
}

.slick-prev, .slick-next { 
    display:block;
	width:75px;
	height:536px; 
	background: url(../images/LargeSlideLEFT.png) no-repeat;
	background-size: 30px 79px;
}

#left-col .ed-button {
	padding:0 0 25px 25px;
	margin:0;
	border:0;
}

#disqus_thread {
	margin: 0 25px 25px 25px;
	width: 94%;
	position: relative;
	top: 0px;
}

#footer {
	position: relative;
	width: 100%;
	height: 150px;
	left: 0;
}

}

/*Tweener Secondary Pages===============================================*/
@media (min-width: 905px) and (max-width: 1068px) {

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
  	overflow-y: scroll; 
  	position: absolute;
  	top: 0;
  	left: 0;
}

#home-container {
	max-width: 100%;
	min-height: 100%;
}

.main-container-education {
	margin: 0 25px 50px 0px;
}

.navbar-default {
	height: 100px;
	margin: 0;
	width: 100%;
}

#header {
	margin: 0 !important;
	min-height: 80px;
	width: 100%;
}

#nav-container {
	width: 70%;
	padding-left: 0px;
}

#nav-container ul.dropdown-menu {
	padding-left: 15px;
}

.title {
	padding: 20px 15px 5px 25px
}

.title .design {
	line-height: 1.1em;
}

.title .sustainable {
	line-height: 1.1em;
}

.main-container {
	margin: 0 0 0 30px !important;
}

#left-col {
	width: 20%;
}

#right-col {
	width: 72%;
}

#left-col .ed-button {
	padding:0 0 25px 0px;
	margin:0;
	border:0;
}

#idc-container-parent {
	width: 100%;
}

#comments .share {
	right: 10%;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	min-width: 100%;
}

#disqus_thread {
	margin: 0 25px 25px 0;
	max-width: 72%;
	position: relative;
	top: -315px
}

#footer {
	width: 100%;
}

}

/*Tweener Extra Secondary Pages==========================================*/
@media (min-width: 768px) and (max-width: 904px) {

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
  	overflow-y: scroll; 
  	position: absolute;
  	top: 0;
  	left: 0;
}

.textright {
	margin-left: 500px;
}

#home-container {
	max-width: 100%;
	min-height: 100%;
}

.main-container-education {
	margin: 0 0 50px 0px;
}

.navbar-default {
	height: 100px;
	margin: 0;
	width: 100%;
}

#header {
	margin: 0 !important;
	min-height: 80px;
	width: 100%;
}

#nav-container {
	width: 70%;
	padding-left: 0px;
}

#nav-container ul.dropdown-menu {
	padding-left: 0px;
}

.title .sustainable {
	line-height: 1em;
}

.main-container {
	margin: 0 0 0 0px !important;
}

#left-col {
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
}

#left-col ul {
	display: inline-flex;
}

#nav-container ul.dropdown-menu {
	padding-left: 15px;
}

#left-col .related {
	width: 100%;
}

#right-col {
	margin: 0 auto;
	float: none;
	padding-top: 25px;
}

h3 {
	margin-top: 0px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	min-width: 100%;
}

#idc-container-parent {
	width: 100%;
}

#footer {
	width: 100%;
}

}
